@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Theme colors */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'NanumSquareRound', Arial, Helvetica, sans-serif;
}
